fastapi
uvicorn
python-dotenv
sentence-transformers
qdrant-client
pydantic
numpy
python-multipart
aiofiles
pandas
requests
mcp
slack_sdk
groq

--extra-index-url https://download.pytorch.org/whl/cpu
torch